/* Banner style */

.home-banner {
  margin-top: 86px;
  padding: 0px;
  background-image: url('../../img/brick.jpg');
  position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-banner .home-banner-left {
  padding: 180px 60px 160px 280px !important;
  background: transparent;
}
.home-banner .home-banner-right {
  padding: 170px 150px 150px 10px;
  background-image: url('../../img/lemon-left-curve-bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.home-banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, #bbd51a -5.91%, #26683c 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
  animation: taglineUpdown 2s linear infinite;
}
.home-banner h3 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 20px;
  display: block;
  text-shadow: 4px 2px #0e5524;
}
.home-banner p {
  color: #ffffffbe !important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5em;
  width: 96%;
}
.app-buttons {
  padding-top: 50px !important;
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-buttons-img {
  padding: 20px 0;
  border-top: 2px solid #fff;
  border-radius: 10%;
  margin: 0px !important;
}
.app-buttons p {
  color: #fff !important;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 5px !important;
  margin: 0px;
}
.app-buttons img {
  width: 50%;
  margin: 0;
}
.home-banner .home-banner-right img {
  animation: updown 3s linear infinite;
  width: 90%;
  text-align: center;
}

@media (max-width: 500px) {
  .home-banner {
    margin-top: 36px;
    box-sizing: border-box;
    margin-right: 0 !important;
    overflow-x: hidden;
  }
  .home-banner .home-banner-left {
    padding: 150px 40px 10px 40px !important;
    margin: 0 !important;
  }
  .home-banner .home-banner-right {
    padding: 50px 0px 100px 0px;
    background-image: url('../../img/lemon-left-curve-bg-mobile.svg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 !important;
    overflow-x: hidden;
  }
  .home-banner .home-banner-right img {
    width: 70%;
    text-align: center;
  }
  .home-banner h3 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5em;
  }
  .home-banner p {
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
  }
  .home-banner .tagline {
    padding: 8px;
    font-size: 14px;
  }
  .app-buttons {
    text-align: center;
    width: 80%;
    margin: 10px auto !important;
  }
  .app-buttons-img {
    border-top: 1px solid #fff;
  }
}
@media (min-width: 501px) AND (max-width: 991px) {
  .home-banner {
    margin-top: 55px;
  }
  .home-banner .home-banner-left {
    padding: 150px 5% 20px 5% !important;
  }
  .home-banner .home-banner-right {
    padding: 0px 0px 130px 0px;
    background-image: url('../../img/lemon-left-curve-bg-mobile.svg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
  }
  .home-banner .home-banner-right img {
    width: 67%;
    text-align: center;
  }
  .home-banner h3 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.5em;
  }
  .home-banner p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5em;
  }
  .home-banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px;
    font-size: 14px;
  }
  .app-buttons {
    text-align: center;
    width: 60%;
    margin: 10px auto !important;
  }
  .app-buttons-img {
    border-top: 2px solid #fff;
  }
}

@media (min-width: 992px) AND (max-width: 1199px) {
  .home-banner {
    margin-top: 73px;
  }
  .home-banner .home-banner-left {
    padding: 130px 5% 80px 10% !important;
  }
  .home-banner .home-banner-right {
    padding: 80px 0px 100px 0px;
  }
  .home-banner .home-banner-right img {
    animation: updown 3s linear infinite;
    width: 75%;
    text-align: center;
  }
  .home-banner h3 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
  }
  .home-banner p {
    font-size: 14px;
  }
  .app-buttons {
    padding-top: 30px !important;
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-buttons-img {
    padding: 13px 0;
    margin: 0px !important;
  }
  .home-banner .home-banner-right img {
    animation: updown 3s linear infinite;
    width: 90%;
    text-align: center;
  }
}

@media (min-width: 1200px) AND (max-width: 1500px) {
  .home-banner {
    margin-top: 75px;
  }
  .home-banner .home-banner-left {
    padding: 140px 10px 100px 100px !important;
  }
  .home-banner .home-banner-right {
    padding: 100px 0px 100px 0px;
  }
  .home-banner .home-banner-right img {
    animation: updown 3s linear infinite;
    width: 70%;
    text-align: center;
  }
  .home-banner h3 {
    font-size: 23px;
  }
  .home-banner p {
    color: #ffffffbe !important;
    font-size: 14px;
  }
}
